
# 依赖包（核心，必须排除）
node_modules/
# 打包产物
build/
dist/
# 环境变量（敏感信息）
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
# 编辑器配置（可选）
.idea/
.vscode/
*.swp
*.swo
# 日志/缓存
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
# 临时文件
tmp/

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

